
main {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

section {
  margin-top: 20px;
  width: 230px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border: 2px blue solid;
  border-radius: 5px;
  align-content: center;
}

img {
  height: 200px;
  width: 200px;
}

h1 {
  font-size: 30px;
}

select {
  margin-top: 20px;
}


